<div class="page-header">
	<h1>
		<%= @vendor.name %><br />
		<small>
			<%= @vendor.company.name %> - <%= @vendor.category %>
		</small>
	</h1>
</div>
<%= link_to "Places Within 10 Miles (JSON)", :controller => :vendors, :action => :near, :format => :json, :lat => @vendor.lat, :lng => @vendor.lng, :radius => 10 %>