<div class="hero-unit">
	<h1>Welcome to TapTag!</h1>
	<p>The best thing since sliced loyalty cards.   Or punched bread.  Whatever, it's awesome.</p>
	<%= image_tag "logo.png", :size => "300x300" %>
	<br />
	<br />
	<a class ="btn btn-primary btn-large" href="#">Learn more</a>
</div>